.App {
  text-align: center;
}

.container {
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-bar {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-width: 20px;
}

.search-bar form {
  display: flex;
  align-items: center;
  width: 100%;
  border-color: black;
  border-color: black;
  border-width: 20px;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: transparent;
}

.search-bar button[type="submit"] {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-style {
  color: #999;
  font-size: 1.5em;
}

.icon-style:hover {
  color: #000;
}

.search-bar input[type="text"]::placeholder {
  color: #999;
}